.git
.vs
.vscode
*.bat
*.cmd
*.sh
*.code-workspace
*temp*
!*template*
*.zip
*.7z
*.rar

# *
# !*/
# !*.lua
# !*.xml
# !*.toc
# !*.tga
# !*.blp
# !*.ogg
# !*.ttf

ARCHIVED.lua
dev/*
!dev/dev.xml
img/temp/*
